@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400');

:root {
    --maintext-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    color: rgb(32, 32, 32);
    overflow-y:hidden;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

a{
    text-decoration: none;
    color: var(--text-color);
}


/* normal nav */
.navbar {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.3rem;
    color: rgba(49, 49, 49, 0.767);
}

.navbar .brand {
    font-size: 1.6rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav .nav-link {
    padding: 1rem;
    color: rgba(49, 49, 49, 0.767);
}

.navbar .nav .nav-link:hover {
    color: rgb(187, 187, 187);
    -webkit-transition: all 0.4s ease-out;
    cursor: pointer;
}

.menu-btn {
    display: none;
}
/* landing */
.landing {
    min-height: 100vh;
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #6d737e 100%); */
    background-color: rgba(211, 211, 211, 0.514);
    opacity: 0.8;   
    
}

/* section main */
.main .container {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    grid-template-areas: 
    'intro intro intro'
    'front code add'
    '.. social ..';
    color: rgba(49, 49, 49, 0.767);

}

.main #intro {
    grid-area: intro;
    font-size: 12rem;
    justify-content: center;
    margin: auto;
    padding-top: 4rem;
    color: var(--maintext-color);
    transition: all 0.6s ease-in;
    text-shadow: 3px 3px 1px rgb(168, 168, 168);
}

.main #front {
    grid-area: front;
    margin:auto;
    margin-right: 0;
    padding-top: 3rem;
}

.main #code {
    grid-area: code;
    margin: auto;
    padding-top: 3rem;
}

.main #add {
    grid-area: add;
    margin: auto;
    margin-left: 0;
    padding-top: 3rem;
}

.main .social {
    grid-area: social;
    margin: auto;
    margin-top: 4rem;
    padding: 1.2rem;
    background-color: rgba(97, 97, 97, 0.582);
    border-radius: 10px;
}

.main .social img {
    height: 60px;
    margin: 0.2rem;
    filter: invert(100%);
}

.main .social img:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease-out;
}

/* section direction */
.direction .container {
    display: grid;
    grid-template-columns: 1fr;
}
.direction h3 {
    margin: auto;
    color: var(--text-color);
    font-size: 1.6rem;
    opacity: 0.7;
    padding-top: 15%;
}

.direction .expand {
    margin: auto;
    opacity: 0.7;
}

.direction .expand:hover {
    opacity: 1;
    -webkit-transform: rotate(540deg);
    -webkit-transition: all 0.4s ease-out;
}

.direction img {
    height: 90px;
}


/*  */
/* portfolio and about */
/*  */
.content .container {
    text-align: center;
}

.content .heading {
    margin: auto;
    font-size: 7rem;
    padding-top: 1rem;
    color: var(--maintext-color);
    text-shadow: 3px 3px 1px rgb(168, 168, 168);
}

.direction #about {
    padding-top: 4rem;
}


.direction #contact {
    padding-top: 6rem;
}




/*  */
/* portfolio swiper */
/*  */
.container .carousel {
    margin: auto;
    padding-top: 2rem;
}
.swiper-container {
    width: 80%;
    padding-bottom: 3rem;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 50vh;
    height: 40vh;
    background-color: rgba(235, 235, 235, 0.753);
    border: 1px solid #cecece;
    position: relative;
}
.swiper-slide .card-content {
    color: #000;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    line-height: 2em;
    visibility: hidden;
    transform: translate(-50%, -250%);
    transition: all 0.2s ease-in;
}
.swiper-slide .card-content h1 {
    font-weight: 100;
    margin-bottom: 1rem;
}
.swiper-slide:hover .card-content {
    transform: translate(-50%, -60%);
    visibility: visible;
}
.swiper-btn {
    text-decoration: none;
    color: #000;
    padding: 1rem;
    border-radius: 5px;
}
.swiper-btn:hover {
    background-color: #000;
    color: #fff;
}
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination-bullet {
    border: 1px solid #000;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

/*  */
/* about page */
/*  */
.about .container {
    display: grid;
    grid-template-areas:
    'head head'
    'info image'
    'info image';
    grid-template-columns: 1fr 1fr;
}

.heading {
    grid-area: head;
    padding-bottom: 2rem;
}

#aboutImage {
    grid-area: image;
}

#flex-dev {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-info {
    grid-area: info;
    text-align: left;
    padding:1rem;
    background-color: rgba(63, 63, 63, 0.075);
    border-radius: 10px 0 0 10px;
}
.about-info h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}
.about-info ul{
    line-height: 2rem;
    font-size: 1.2rem;
}
.about img {
    max-width: 100%;
    border-radius: 0 10px 10px 0;
}

/* footer */
.footer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: rgb(107, 107, 107);
    font-size: 0.8rem;
}


/*  */
/* modal */
/*  */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index:3;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    transform: translateY(100%);
    transition: all 0.01s ease-in-out;

}

.modal-content {
    background-color: rgba(255, 255, 255, 0.918);
    margin: auto;
    margin-top: 4rem;
    display: grid;
    max-width: 800px;
    border-radius: 0.8rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
}

.modal-header {
    padding-bottom: 2rem;
    padding-top: 3rem;
    margin: auto;
    font-size: 2rem;
}
.modal-header p {
    font-size: 0.6em;
    opacity: 0.8;
}

.contact-form {
    width: 60%;
    margin: auto;
}
.form-con {
    display: grid;
    grid-template-areas:
    'in1 in2'
    'in3 in3'
    'in4 in4'
    'sub sub';
}
.contact-form input, .contact-form textarea {
    border-radius: 10px;
    resize: none;
    margin-bottom: 1.2rem;
    padding: 1rem;
    font-family: 'Monserrat', Tahoma, sans-serif;
}
.form-con input {
    font-size: 1.2rem;
    background-color: rgba(207, 207, 207, 0.808);
    color:#000;
}
.form-con input:nth-of-type(2) {
    grid-area: in1;
    border-radius: 10px 0 0 10px;
}
.form-con input:nth-of-type(3) {
    grid-area: in2;
    border-radius: 0 10px 10px 0;
}
.form-con input:nth-of-type(4) {
    grid-area: in3;
}
.form-con textarea {
    grid-area: in4;
}

/* .form-con #left, .form-con #right {
    border-radius: 10px;
} */

.contact-form input::placeholder {
    text-transform: uppercase;
    font-family: 'Montserrat', Tahoma, sans-serif;
}
.contact-form textarea::placeholder {
    font-family: 'Montserrat', Tahoma, sans-serif;
    font-size: 1.2rem;
}

#submit {
    grid-area: sub;
    width: 50%;
    margin: auto;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: 1px solid #707070;
}
#submit:hover {
    cursor: pointer;
}

.close {
    position: absolute;
    right: 1rem;
    top: 0;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    font-size: 4rem;
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.4s ease-out;
}


/*  */
/* box animations */
/*  */
.animation-area {
    width: 100%;
    height: 100vh;
}
.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
}
.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(93, 194, 194);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.box-area li:nth-child(1){
    left: 92%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
}

.box-area li:nth-child(2){
    left: 80%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 62%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 38%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 5%;
    width: 140px;
    height: 140px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity:0;
    }
}


/* box animations portfolio page */
.animation-area-port {
    width: 100%;
    height: 100vh;
}
.port-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
}
.port-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(93, 194, 194);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.port-area li:nth-child(1){
    left: 92%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
}

.port-area li:nth-child(2){
    left: 80%;
    width: 30px;
    height: 30px;
    animation-delay: 5.5s;
    animation-duration: 10s;
}
.port-area li:nth-child(3){
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 5.5s;
}
.port-area li:nth-child(4){
    left: 86%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.port-area li:nth-child(5){
    left: 5%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}

/* box animation about page */
.animation-area-about {
    width: 100%;
    height: 100vh;
}
.about-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
}
.about-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background:  rgb(93, 194, 194);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.about-area li:nth-child(1){
    left: 92%;
    width: 60px;
    height: 60px;
    animation-delay: 1.5s;
}

.about-area li:nth-child(2){
    left: 86%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.about-area li:nth-child(3){
    left: 82%;
    width: 30px;
    height: 30px;
    animation-delay: 5.5s;
}
.about-area li:nth-child(4){
    left: 2%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.about-area li:nth-child(5){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.about-area li:nth-child(6){
    left: 5%;
    width: 140px;
    height: 140px;
    animation-delay: 5s;
}

/* box animation about page */
.animation-area-contact {
    width: 100%;
    height: 100vh;
}
.contact-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
}
.contact-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background:  rgb(93, 194, 194);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.contact-area li:nth-child(1){
    left: 92%;
    width: 60px;
    height: 60px;
    animation-delay: 1.5s;
}

.contact-area li:nth-child(2){
    left: 80%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.contact-area li:nth-child(3){
    left: 76%;
    width: 30px;
    height: 30px;
    animation-delay: 5.5s;
}
.contact-area li:nth-child(4){
    left: 8%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.contact-area li:nth-child(5){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.contact-area li:nth-child(6){
    left: 20%;
    width: 140px;
    height: 140px;
    animation-delay: 5s;
}

/* keyframes */

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.m-scene .scene_element {
animation-duration: 0.5s;
transition-timing-function: ease-in;
animation-fill-mode: both;
}
.m-scene .scene_element--fadeup {
animation-name: fadeUp;
}
.m-scene .scene_element--fadedown {
animation-name: fadeDown;
}
.m-scene .scene_element--faderight {
    animation-name: fadeRight;
    animation-delay: 0.2s;
}
.m-scene .scene_element--fadeleft {
    animation-name: fadeLeft;
    animation-delay: 0.2s;
}

.m-scene.is-exiting .scene-element {
    animation-direction: alternate-reverse;
}




/*  */
/* media queries */
/*  */

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) and (max-width: 479px) {
    .menu-btn {
        position: relative;
        margin-right: 1rem;
        display: inline-block;
        cursor: pointer;
        width: 2rem;
        height: 1.2rem;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        justify-self: flex-end;
        display: flex;
    }
    .menu-btn:before {
        content: '';
        position: absolute;
        top: 0.4rem;
        left: 0;
        width: 100%;
        border-top: 2px solid #000;
    }
    .show {
        display: flex;
    }
    /* nav */
    .menu {
        display: none;
    }
    .nav {
        position: relative;
        margin-left: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding-top: 1rem;
    }
    .nav-item {
        padding-top: 1rem;
        font-size: 1.4rem;
    }
    .menu.show {
        display: inline-block;
    }
    .menu-btn.hide, .menu-btn.hide:before {
        border-color: #666666;
        transition: all 0.2s ease-in-out;
    }
    
    /*  */
    /* index */
    .navbar .brand {
        font-size: 1rem;
    }
    .main #intro {
        font-size: 3rem;
    }    
    .main .social img {
        height: 50px;
        margin: 0.2rem;
    }
    .main .container {
        grid-template-columns: auto;
        grid-template-areas: 
        'intro'
        'front'
        'code'
        'add'
        'social';
    }
    .main #front {
        margin-right: auto;
    }
     .main #add {
        margin-left: auto;
    }
    .direction {
        display: none;
    }

    /* portfolio */
    .swiper-slide {
        width: 30vh;
        height: 30vh;
    }
    .content .heading {
        font-size: 2.5rem;
        padding-top: 2rem;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
    .direction #about {
        padding-top: 8rem;
    }

    /* about */
    .about .container {
        grid-template-areas:
        'head head'
        'info info'
        'image image';
    }
    .about img {
        display: none;
    }
    #flex-dev {
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-info h2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.4rem;
    }
    .about-info ul{
        font-size: 1rem;
    }
    /* modal */
    .modal-content {
        max-width: 90%;
    }
    .contact-form {
        width: 80%;
    }
    .modal-header {
        font-size: 1.6rem;
    }
    .modal-header p {
        font-size: 0.6em;
    }
    .contact-form {
        width: 80%;
    }
    .form-con {
        display: grid;
        grid-template-areas:
        'in1'
        'in2'
        'in3'
        'in4'
        'sub';
    }
    .form-con input, .form-con textarea {
        width: 100%;
    }
    .form-con input:nth-of-type(2) {
        border-radius: 10px;
    }
    .form-con input:nth-of-type(3) {
        border-radius: 10px;
    }
}


/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {   
    .menu-btn {
        position: relative;
        margin-right: 1rem;
        display: inline-block;
        cursor: pointer;
        width: 2rem;
        height: 1.2rem;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        justify-self: flex-end;
        display: flex;
    }
    .menu-btn:before {
        content: '';
        position: absolute;
        top: 0.4rem;
        left: 0;
        width: 100%;
        border-top: 2px solid #000;
    }
    .show {
        display: flex;
    }
    /* nav */
    .menu {
        display: none;
    }
    .nav {
        position: relative;
        margin-left: 90%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    .nav-item {
        padding-top: 1rem;
        font-size: 1.4rem;
    }
    .menu.show {
        display: inline-block;
    }
    .menu-btn.hide, .menu-btn.hide:before {
        border-color: #666666;
        transition: all 0.2s ease-in-out;
    }

    /* index */
    .main #intro {
        font-size: 5rem;
        padding-top: 3rem;
    }    
    .main .social img {
        height: 60px;
    }
    .main .container {
        grid-template-columns: auto;
        grid-template-areas: 
        'intro'
        'front'
        'code'
        'add'
        'social';
    }
    .main #front {
        margin-right: auto;
    }
     .main #add {
        margin-left: auto;
    }

    /* portfolio */
    .swiper-slide {
        width: 30vh;
        height: 30vh;
    }
    .content .heading {
        font-size: 3rem;
        padding-top: 3rem;
    }
    .swiper-button-next {
        display: none;
    }
    .swiper-button-prev {
        display: none;
    }
    .direction #about {
        padding-top: 8rem;
    }

    /* about */
    .about .container {
        grid-template-areas:
        'head head'
        'info info'
        'image image';
    }
    .about img {
        display: none;
    }
    #flex-dev {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* modal */
    .modal-content {
        max-width: 90%;
    }
    .contact-form {
        width: 80%;
    }
    .modal-header {
        font-size: 1.6rem;
    }
    .modal-header p {
        font-size: 0.6em;
    }
    .contact-form {
        width: 80%;
    }
    .form-con {
        display: grid;
        grid-template-areas:
        'in1'
        'in2'
        'in3'
        'in4'
        'sub';
    }
    .form-con input:nth-of-type(2) {
        border-radius: 10px;
    }
    .form-con input:nth-of-type(3) {
        border-radius: 10px;
    }

}

/* TABLETS PORTRAIT and half desktop */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* index */
    .main #intro {
        font-size: 9rem;
    }    
    .main .social img {
        height: 60px;
    }
    .main .container {
        display: grid;
        grid-template-columns: 1.75fr 2fr 1.75fr;
    }

    /* portfolio */
    .swiper-slide {
        width: 40vh;
        height: 30vh;
    }
    .content .heading {
        font-size: 5rem;
    }

    /* about */
    .about .container {
        grid-template-areas:
        'head head'
        'info info'
        'image image';
    }
    .about img {
        display: none;
    }
    #flex-dev {
        display: grid;
        grid-template-columns: 1fr;
    }
    /* modal */
    .modal-content {
        max-width: 90%;
    }
    .contact-form {
        width: 80%;
    }


}