#mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

#check file in dir with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

#show page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]